@model BankEmprestimoConsignado.Models.Emprestimo

@{
    ViewData["Title"] = "Details";
}

<h1>Informações do Empréstimo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLiberado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLiberado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxaJuros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxaJuros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdParcelaRest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdParcelaRest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusEmprest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusEmprest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEmprest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEmprest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@Model.IdEmprestimo">Editar</a> |
    <a asp-action="Index">Voltar a lista de empréstimos</a>
</div>
